@import './slider.scss';
@import './photos.scss';

.app {
  &__header {
    padding: 0em 1em;
    width: 100%;
    position: fixed;
    height: $header-height;
    border-bottom: 1px solid;
    background: white;
    @extend .flex-horizontal;
    @extend .cross-center;
    z-index: 100;
  }
  &__aside {
    @extend .flex-column;
    z-index: 100;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: $aside-width;
    background: white;
    border-right: 1px solid;
    & ~ .app__header {
      left: $left-position-header;      
    }
    & ~ .app__main {
      left: map-get($map: $main-position, $key: left);
    }
  }
  &__main {
    position: absolute;
    top: map-get($map: $main-position, $key: top);
    left: $global-margin;
    right: $global-margin;
    bottom: 0px;
  }
  &__title {
    &-box {
      text-align: center;
    }
  }
  &__greeting {
    border: 1px solid;
    border-left: 6px solid;
    margin: 15px 5px;
    padding: 4px;
  }
  &__navigator {
    border-style: solid;
    border-width: 1px 0px;
    &-user {
      justify-content: start;
      flex-direction: column;
      border-style: solid;
      border-width: 1px 0px;
    }
  }
}