.photos-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
  &__photo {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    &-footer {
      margin-top: auto;
      background: yellow;
    }
  }
}