@import './themes/index.scss';
@import './components/app.scss';

.flex-horizontal {
  display: flex;
  justify-content: space-between;
  &.cross-center {
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.no-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: .5em 0em;
  & a {
    padding: .4em;
    display: inline-block;
  }
}