@import '../node_modules/ed-grid/ed-grid.scss';
@import './themes/index.scss';
@import './components/app.scss';

.flex-horizontal {
  display: flex;
  justify-content: space-between;
  &.cross-center {
    align-items: center;
  }
  &.form {
    & > * {
      width: 100%;
      text-align: center;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.no-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: .5em 0em;
  & a {
    padding: .4em;
    display: inline-block;
  }
}

.input-control {
  border: 1px;
  padding: .2em;
  display: block;
  &__text,
  &__box {
    display: block;
    font-size: 1.2em;
  }
  &__text {
    font-size: 1.5em;
  }
  &__box {
    width: 100%;
    padding: .3em;
    box-sizing: border-box;
  }
}

.event {
  &__timedate {
    max-width: 20%;
    & input {
      display: block;
      width: 100%;
      padding: .2em;
      margin: 1em;
    }
  }
  &__story {
    margin-top: 10px;
    & h3 {
      text-align: center;
    }
    & textarea {
      width: 100%;
    }
  }
}

table {
  width: 100%;
}

.election {
  position: absolute;
  left: $election-position;
  &-list {
    position: absolute;
    left: 0%;
    bottom: 0px;
    top: 0px;
    width: $election-position;
  }
}

.fab {
  position: fixed;
  bottom: $global-margin;
  right: $global-margin;
  background: tomato;
  color: white;
  font-weight: bold;
  padding: 1em;
  border-radius: 50%;
}